@charset "UTF-8";

/*
    PALETA DE CORES
    Verdee: #636D4A
    Verde: #C8DCB2
    Marrom: #46351D
*/
:root{
    --Verdee: #636D4A;
    --Verde: #C8DCB2;
    --Marrom: #46351D;
}
@font-face {
    font-family: 'noto';
    src: url(../fonts/static/NotoSerifDisplay-Regular.ttf);
}
@font-face {
    font-family: 'karimun';
    src: url(../fonts/Karimun.ttf);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html{
    width: 100vw;
    height: 100vh;
    background-image: url(../imgs/pexels-quang-nguyen-vinh-2147834.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login #img{
    background: url(../imgs/Liance\ escrita.png) no-repeat;
    background-size: contain;
    display: block;
    height: 93px;
    padding: 10px;
    margin: 20px;
}

h1{
    text-align: center;
    font-family: 'karimun', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: var(--Marrom);
}
p{
    font-family: 'noto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    text-align: justify;
    color: var(--Verde);
}

#login #form{
    padding: 10px;
    display: block;
}